a{
	text-decoration: none;
}

body{
	background: #f5f3c3;
}

header{
	background: #f7f7f7;
	padding-top: 60px;
}

img{
	height: 70px;
	width: 450px;
}

li{
	font-size: 20px;
	list-style: none;
	padding-top: 25px;
	text-align: left;
}

ul{
	margin-top: 30px;
}

#titulo6{
	margin-top: 100px; 
	padding-left: 50px;
	text-align: left;
}





